<mat-toolbar color="primary">
  <a><i class="fas fa-bars fa-lg"> </i> Hi </a>
  <span>Pravin</span>
  <span class="example-spacer"></span>
  <nav>
    <a fxLayoutAlign="space-around center" class="nav-items" routerLinkActive="resume" routerLink="about">
      <!--<mat-icon matTooltip="About" class="example-icon" aria-hidden="false" aria-label="About">
        perm_identity
      </mat-icon>-->
      <small>About</small>
    </a>
  </nav>
  <nav>
    <a fxLayoutAlign="space-around center" class="nav-items" routerLinkActive="resume" routerLink="experience">
      <!--<mat-icon matTooltip="Resume" class="example-icon" aria-hidden="false" aria-label="Resume">
        work
      </mat-icon>-->
      <small>Experience</small>
    </a>
  </nav>
  <nav>
    <a fxLayoutAlign="space-around center" class="nav-items" routerLinkActive="resume" routerLink="work">
     <!-- <mat-icon matTooltip="work" class="example-icon" aria-hidden="false" aria-label="work">
        work_off
      </mat-icon>-->
      <small>Work</small>
    </a>
  </nav>

  <nav>
    <a fxLayoutAlign="space-around center" class="nav-items" routerLinkActive="resume" routerLink="contact">
      <!--<mat-icon matTooltip="Resume" class="example-icon" aria-hidden="false" aria-label="Contact">
        contact_mail
      </mat-icon>-->
      <small>Contact</small>
    </a>
  </nav>
  <nav>
    <a fxLayoutAlign="space-around center" class="nav-items" routerLinkActive="resume" routerLink="resume">
      <!--<mat-icon matTooltip="Resume" class="example-icon" aria-hidden="false" aria-label="Resume">
        assignment
      </mat-icon>-->
      <small>Resume</small>
    </a>
  </nav>
</mat-toolbar>
