<mat-toolbar color="primary">
  <span>Pravin</span>
  <span class="example-spacer"></span>
  <nav>
    <ul  class="navigation-items">
      <li>
        <a fxLayoutAlign="space-around center" routerLinkActive="resume" routerLink="resume">
          <mat-icon matTooltip="Resume" class="example-icon" aria-hidden="false" aria-label="Resume">
            assignment
          </mat-icon>
          <small>Resume</small>
        </a>
      </li>
    </ul>
  </nav>

  <mat-icon class="example-icon" aria-hidden="false" aria-label="Like">favorite</mat-icon>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Like">contact_mail</mat-icon>
</mat-toolbar>
